body {
  /* background: #343a40; */
  background: #212529;
}

.logo {
  letter-spacing: 0.7rem;
}

.card {
  background-color: transparent;
  border: none;
}

.signout {
  cursor: pointer;
}

.order-product {
  min-height: 20rem;
}

.card-hover:hover {
  background: #ffffff2d;
}
.card-color {
  background: #ffffff2d;
}
